@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: global.scss 701 2014-04-30 01:37:50Z samgui $
@import "core";
@import "reset";
a:hover { color: #cc2e5b; text-decoration: none; }
.container {
  width: 1200px;
  margin: 0 auto;
  @include clear;
}
@import "../header/header";
@import "../module/progressbar";
@import "../module/icon";
@import "../module/button";
@import "../module/alert";
@import "../module/step";
@import "../module/form";
@import "../module/dialog";
@import "../module/login";
@import "../footer/footer";

.mod-catalog {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  width: 180px;
  border-top: 2px solid #6b155a;
  background-color: #fff;
  z-index: 4;

  .catalog {
    padding: 20px 0;
    text-align: left;

    a {
      display: block;
      height: 40px;
      padding-left: 38px;
      color: #6b175a;
      font: normal 14px/40px '\5fae\8f6f\96c5\9ed1';

      i { animation-duration: 1s; }

      &:hover {
        background-color: #f7f5fa;
        text-decoration: none;

        i {
          position: relative;
          transform-origin: top center;
          animation-name: swing;
        }
      }
    }

    .subcat {
      display: none;

      li { border-bottom: 1px dashed #eee; }

      a {
        height: 34px;
        line-height: 34px;
        padding-left: 0;
        color: #333;
      }

      a:hover { background-color: #fff; color: #6b155a; }
      .last { border: none; }
    }
  }

  .active {
    border-right: 3px solid #6b155a;
    background-color: #f7f5fa;

    .subcat { display: block; }
  }

  .subcat {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100px;
    height: 313px;
    padding: 25px 20px 20px;
    border: 1px solid #eee;
    border-width: 1px 0 1px 1px;
    background-color: #fff;
  }
}
@keyframes swing {
  20% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}