body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0 }
body, button, input, select, textarea { font-family:"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif }
h1, h2, h3, h4, h5, h6 { font-size:100% }
ul, ol { list-style:none }
iframe, img { border:0; vertical-align:top }
table { border-collapse:collapse; border-spacing:0 }
i, b, s, em { font-style:normal }
a { text-decoration:none }
a:hover { color:#cc2e5b; text-decoration:none }

/*顶部导航*/
.lay-top-nav{
	height:29px;line-height:29px; border-bottom:1px solid #eeeeee; background-color:#ffffff; z-index:49
}
.lay-top-nav a{padding-top:0;padding-bottom:0;}
/*顶部搜索框*/
.lay-search{padding-left:0;padding-right:0;margin-top:10px;*position:relative; float:left; /*width:566px; margin-left:155px;*/ border:1px solid #6b175a}
.lay-search .website-container{ padding-left:0;}
.lay-search select{height:34px;border:none;}

.lay-search .txt-search-container{padding-left:0; padding-right:0;width:438px;}
.lay-search .txt-search {display:inline-block;width:100%;height:38px; line-height:38px; padding:5px 3px 5px 5px; border:0 solid #ffffff; border-left-color:#e1e0e0; background-color:#ffffff; -webkit-appearance:none }
.lay-search .txt-search:focus { outline:none }

.lay-search .btn-search-container{float:right;padding-left:0;padding-right:0;}
.lay-search .btn-search { display:inline-block;width:100%;float:right;/*position:absolute; top:-2px; right:-2px; width:112px;*/ height:38px; line-height:38px; border:none; color:#ffffff; text-align:center; font-size:16px; background-color:#6b175a; cursor:pointer; -webkit-appearance:none; border-radius:0; outline:none }
.lay-search .btn-search:focus { outline:0 }
/*主要导航*/
