body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0 }

body, button, input, select, textarea { font:12px/1.5 '\5fae\8f6f\96c5\9ed1', 'Lucida Grande', Arial, '\5b8b\4f53' }

h1, h2, h3, h4, h5, h6 { font-size:100% }

ul, ol { list-style:none }

iframe, img { border:0; vertical-align:top }

table { border-collapse:collapse; border-spacing:0 }

i, b, s, em { font-style:normal }

del { font-family:'\5b8b\4f53' }

a { text-decoration:none }

.clear { *zoom:1 }

.clear:after { content:'\20'; display:block; height:0; clear:both }

.ht-logo, .ht-slogan { width:298px; height:26px; line-height:99px; margin-top:14px; background:url('http://manager.layhangtrungviet.com/www/img/act/module/toolbar.png?1408419386') no-repeat; overflow:hidden; _display:inline }

.container { width:1000px; margin:0 auto }

.ht-toolbar { height:50px; background-color:#ffffff }

.ht-toolbar .container { *zoom:1 }

.ht-toolbar .container:after { content:'\20'; display:block; height:0; clear:both }

.ht-logo { float:left; background-position:0 0 }

.ht-slogan { float:right; background-position:0 -25px }

.ht-footer { background-color:#b7b7b7 }

.ht-footer .container { height:86px; text-align:center; font:normal 14px/86px '\5fae\8f6f\96c5\9ed1' }

.ht-footer .container, .ht-footer .container a { color:#ffffff }

.ht-footer-info { padding:44px 0 16px; color:#790a5a; background-color:#ffffff; font-weight:bold; font-size:14px; overflow:hidden; *zoom:1 }

.ht-footer-wx, .ht-footer-tips { _display:inline }

.ht-footer-wx { float:left; width:140px; height:35px; margin-left:40px; padding-top:105px; text-align:center; background:url('http://manager.layhangtrungviet.com/www/img/act/module/wx.png?1408419386') no-repeat center top; overflow:hidden }

.ht-footer-tips { float:right; margin-right:40px; width:725px; line-height:2 }

.ht-help-links { height:240px; padding-top:30px; border-top:1px solid #dddddd; background-color:#fafafa; overflow:hidden }

.ht-help-links .container { *zoom:1 }

.ht-help-links .container:after { content:'\20'; display:block; height:0; clear:both }

.ht-help-links .l, .ht-help-links .r, .ht-help-links .c { width:100px; float:left }

.ht-help-links .r { text-align:right }

.ht-help-links .c { width:130px; text-align:center }

.ht-help-links dt { height:25px; margin-bottom:10px }

.ht-help-links dd { height:24px; margin:3px 0 }

.ht-help-links dt a { display:block; font:bold 14px/25px '\5fae\8f6f\96c5\9ed1'; color:#666666 }

.ht-help-links dt a:hover { color:#ee4943 }

.ht-help-links dd a { display:block; color:#999999; font:12px/24px '\5fae\8f6f\96c5\9ed1'; text-decoration:none }

.ht-help-links dd a:hover { color:#ee4943 }

.ht-help-links .l dt, .ht-help-links .l dd { text-align:left }

.ht-help-links .r dt, .ht-help-links .r dd { text-align:right }

.ht-help-links .f_logo { width:270px; float:left; position:relative }

.ht-help-links .f_logo .logo { display:inline-block; margin:35px 67px 0; width:143px; height:47px; background:url('//manager.layhangtrungviet.com/www/img/module/logo.png?1408419386') no-repeat }

.ht-help-links .f_logo .code { width:70px; height:70px; margin:22px 100px 0 100px; background:url(http://uimg.layhangtrungviet.com/upload/photo/front/ico.png) no-repeat -138px -324px }

.ht-help-links .copyright { text-align:center; font:12px/24px "Microsoft Yahei"; margin-top:20px }

.ht-help-links .copyright, .ht-help-links .copyright a { color:#666666 }
