@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: login.scss 701 2014-04-30 01:37:50Z samgui $
@import "../global/core";

html, body, .login-wrapper { height: 100%; }

.login-wrapper {
  background-position: top center;
  background-repeat: no-repeat;

  .container { position: relative; padding-top: 550px; }

  .ui-form {
    position: absolute;
    top: 75px;
    right: 0;
  }
}

.ht-copyright {
  background-color: transparent;

  a { color: #333; }
}