@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: breadcrumb.scss 6154 2014-09-19 06:29:26Z samgui $
@import "../global/core";

.breadcrumbs {
  padding: 15px 0;

  .active { font: bold 14px '\5fae\8f6f\96c5\9ed1'; }
  &, a { color: #666; }
}