@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: slider.scss 4467 2014-08-05 02:36:34Z samgui $
@import "../global/core";

.icon-prev, .icon-next {
  display: none;
  @include icon($url: 'module/icon/slider.png', $size: false);
  width: 18px;
  height: 34px;
  margin: 13px 0 0 11px;
  opacity: .8;
  cursor: pointer;
}

.icon-next { background-position: -18px 0; }
.ui-slider { position: relative; @include bg_loading; }

.ui-slider-trigger {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 100%;
  height: 16px;
  text-align: center;
  z-index: 2;

  a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 7px;
    text-align: center;
    background-color: #ccc;
    border-radius: 16px;

    &.current { background-color: #cc2e5b; }
  }
}

.ui-slider-prev, .ui-slider-next {
  position: absolute;
  top: 150px;
  width: 40px;
  height: 60px;
  z-index: 3;
  @include bgc_rgba($alpha: .4);

  &:hover { @include bgc_rgba; }
}

.ui-slider-prev { left: -45px; }
.ui-slider-next { right: -45px; }

.ui-slider-container {
  .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

  .current { z-index: 1; }
}