@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: step.scss 4783 2014-08-12 04:46:30Z samgui $
@import "../global/core";

.ui-step { @include clear; }

.ui-step-item {
  float: left;
  width: 310px;
  height: 4px;
  background-color: #ccc;
  _display: inline;
}

.ui-step-num, .ui-step-text { margin-top: -22px; }

.ui-step-num {
  display: block;
  width: 54px;
  height: 48px;
  text-align: center;
  font: normal 24px/48px Tahoma;
  color: #fff;
  @include bg($color: #fff, $url: 'forget/icon/step.png', $position: 3px -48px);
}

.ui-step-text {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}

.ui-step-item-1 {
  .ui-step-text { margin-left: -10px; }
}

.ui-step-item-4 {
  width: 44px;

  .ui-step-num { margin-left: -10px; }
  .ui-step-text { margin-left: -12px; }
}

.ui-step-current-1 .ui-step-item-1,
.ui-step-current-2 .ui-step-item-1, .ui-step-current-2 .ui-step-item-2,
.ui-step-current-3 .ui-step-item-1, .ui-step-current-3 .ui-step-item-2, .ui-step-current-3 .ui-step-item-3,
.ui-step-current-4 .ui-step-item-1, .ui-step-current-4 .ui-step-item-2, .ui-step-current-4 .ui-step-item-3, .ui-step-current-4 .ui-step-item-4 {
  .ui-step-num { background-position: 3px 0; }
  .ui-step-text { color: #666; }
}

.ui-step-current-2 .ui-step-item-1,
.ui-step-current-3 .ui-step-item-1, .ui-step-current-3 .ui-step-item-2,
.ui-step-current-4 .ui-step-item-1, .ui-step-current-4 .ui-step-item-2, .ui-step-current-4 .ui-step-item-3 {
  background-color: #6b175a;
}