@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: product.scss 701 2014-04-30 01:37:50Z samgui $
@import "../global/core";
@import "../product/sidebar";
@import "../module/breadcrumb";
.icon-cart {
  margin-right: 7px;
  vertical-align: -2px;
  @include icon($url: 'product/cart.png');
}
.icon-ruler {
  margin: 0 5px 0 20px;
  vertical-align: -2px;
  @include icon($url: 'product/ruler.png');
}
.icon-fav {
  margin-right: 5px;
  vertical-align: -2px;
  @include icon($url: 'product/fav.png');
}
.metadata { @include clear; }
.gallery, .property {
  .thumb { @include clear; }

  .tb-item {
    float: left;
    margin-right: 10px;

    a {
      display: block;
      width: 42px;
      height: 42px;
      border: 1px solid #fff;

      &:hover { border-color: #cc2e5b; }
    }
  }

  .active a, .selected a { border-color: #cc2e5b; }
}
.gallery {
  float: left;

  .img-preview { @include img_resize(400px, 400px); }

  .ui-slider {
    position: relative;
    margin: 10px 0;
    @include clear;
  }

  .ui-slider-container {
    float: left;
    width: 370px;
    height: 44px;
    overflow: hidden;
  }

  .ui-slider-prev, .ui-slider-next {
    float: left;
    width: 14px;
    height: 44px;
    @include bg($url: 'product/arrow.png');
  }

  .ui-slider-prev { left: 0; background-position: 0 18px; }
  .ui-slider-next { right: 0; background-position: -14px 18px; }

  &.ui-slider-disabled {
    .ui-slider-container { width: 400px; }
    .ui-slider-prev, .ui-slider-next { display: none; }
    .social { padding-left: 0; }
  }

  .tb-item { @include img_resize(44px, 44px); background: none; }

  .social {
    padding-left: 15px;
    @include clear;

    .item {
      float: left;
      height: 26px;
      line-height: 26px;
      padding: 0 8px;
      margin-right: 10px;
      border: 1px solid #ccc;
      color: #666;
      background-color: #fcfcfc;
    }
  }
}
.property {
  float: right;
  width: 758px;
  $property-field-width: 70px;

  a { color: #6a77b6; }
  .title, .subtitle { font: bold 16px/24px '\5fae\8f6f\96c5\9ed1'; }

  .title {
    position: relative;
    color: #222;

    .points {
      position: absolute;
      margin: -2px 0 0 2px;
      height: 15px;
      padding: 0 3px;
      font: normal 12px/15px '\5fae\8f6f\96c5\9ed1';
      color: #fff;
      background-color: #cc2e5b;

      .arrow {
        position: absolute;
        top: 10px;
        left: 0;
        width: 0;
        height: 0;
        border-width: 4px;
        border-color: transparent transparent transparent #cc2e5b;
        border-style: dashed dashed dashed solid;
        font-size: 0;
        overflow: hidden;
      }
    }
  }

  .subtitle { padding-bottom: 15px; color: #cc2e5b; }

  .prop-item {
    font-size: 0;
    color: #333;
    @include clear;
  }

  .prop-label, .prop-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }

  .prop-label { width: $property-field-width; word-wrap: break-word; }
  .prop-content { width: 758px - $property-field-width; }
  .unit { font-family: arial; }

  .prop-other {
    padding-bottom: 2px;

    .prop-label { line-height: 20px; }

    .price {
      font-size: 14px;
      color: #999;
      font-family: '\5fae\8f6f\96c5\9ed1';
    }
  }

  .prop-price {
    position: relative;
    padding-bottom: 4px;
    z-index: 2;

    .prop-content { font-size: 14px; }

    .price {
      margin-right: 10px;
      vertical-align: -2px;
      color: #cc2e5b;
      font-size: 24px;
      font-weight: 700;
    }

    .price-save { color: #333; }

    .price-detail {
      position: relative;
      display: inline-block;
      margin-left: 20px;

      &.hover {
        .price-summary { display: block; }
        .arrow { background-position: -54px -1px; }
      }
    }

    .lnk-detail {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 23px;
      line-height: 23px;
      padding: 0 28px 0 9px;
      border: 1px solid #ccc;
      font-size: 12px;
      color: #333;
      vertical-align: 3px;
      background-color: #f7f7f7;

      .arrow {
        position: absolute;
        top: 10px;
        right: 8px;
        width: 9px;
        height: 5px;
        @include bg($url: 'product/arrow.png', $position: -54px -6px);
      }
    }

    .price-summary {
      display: none;
      position: absolute;
      left: 0px;
      top: 24px;
      width: 470px;
      padding: 20px 30px 25px 24px;
      border: 1px solid #ccc;
      font-size: 12px;
      background: #fff;

      .formula {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ecebe9;
      }

      dl { line-height: 2em; }
      dt { float: left; width: 73px; }
      .label-price { display: inline-block; width: 124px; }

      .label-discount {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 16px;
        line-height: 16px;
        margin: 0 20px 0 8px;
        text-align: center;
        background-color: #cc2e5b;
        color: #fff;

        .arrow {
          position: absolute;
          top: 0;
          right: 100%;
          width: 0;
          height: 0;
          border-width: 8px;
          border-color: transparent #cc2e5b transparent transparent;
          border-style: dashed solid dashed dashed;
          font-size: 0;
          overflow: hidden;
        }
      }

      .ui-tip { font-family: '\5fae\8f6f\96c5\9ed1'; color: #999; }
    }
  }

  .prop-merchant {
    position: relative;

    .prop-content { @include clear; }
    .logo-merchant { margin-right: 10px; vertical-align: -7px; }

    .extra {
      position: absolute;
      top: 4px;
      right: -10px;
      color: #ccc;

      a { margin: 0 13px; color: #333; }
    }

    .icon-service {
      margin-right: 4px;
      vertical-align: -2px;
      @include icon($url: 'product/service.png');
    }
  }

  .prop-sku {
    position: relative;
    width: 746px;
    margin: 12px 0 15px -10px;
    padding: 20px 10px 0;
    background-color: #f7f7f7;
    font-family: arial;
    z-index: 1;

    .prop-item { padding-bottom: 20px; }
    .prop-content { position: relative; width: 676px; }
    .thumb { margin: 0; }

    .tb-item {
      position: relative;
      margin: 0 10px 0 0;

      a {
        border-color: #ccc;

        &:hover { border-color: #cc2e5b; }
      }
    }

    .item-selected {
      .icon-selected { display: block; }

      a { border-color: #cc2e5b; }
    }
  }

  .prop-amount {
    .prop-label { font-family: '\5fae\8f6f\96c5\9ed1'; }

    .amount-increase, .amount-decrease, .amount-input {
      float: left;
      width: 15px;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ccc;
      text-align: center;
      color: #333;
      background-color: #fff;
    }

    .amount-increase, .amount-decrease { font: normal 16px/30px '\5b8b\4f53'; }

    .amount-input {
      width: 40px;
      height: 20px;
      line-height: 20px;
      padding: 4px 3px;
      border: 1px solid #ccc;
      border-width: 1px 0;

      &:focus { outline: none; }
    }
  }

  .prop-selected { color: #cc2e5b; }

  .select-container {
    position: relative;
    float: left;
    color: #222;
    background-color: #fff;

    &.hover {
      .select-arrow { background-position: -37px 0; }
      .select-dropdown { visibility: visible; }
    }
  }

  .select-arrow {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 9px;
    height: 6px;
    @include bg($url: 'product/arrow.png', $position: -37px -6px);
  }

  .select-item, .selected-item { padding: 3px 38px 2px 10px; font-size: 14px; }

  .selected-item {
    display: block;
    border: 1px solid #ccc;
    white-space: nowrap;
  }

  .select-scrollable .select-list {
    max-height: 200px;
    _height: 200px;
    overflow-y: auto;
  }

  .select-dropdown {
    visibility: hidden;
    position: absolute;
    top: 27px;
    left: 0;
    border: 1px solid #ccc;
  }

  .select-list { background-color: #fff; }

  .select-item {
    padding-right: 10px;
    border-width: 0 1px;
    white-space: nowrap;

    a { display: block; color: #333; }
    &.disabled { color: #999; }
    &:hover, &:hover a { background-color: #eee; }
  }

  .ruler {
    float: left;
    padding-top: 6px;
    color: #999;

    &:hover { color: #666; }
  }

  .prop-action {
    position: relative;
    margin-top: 30px;
    @include clear;

    .btn-addtocart, .btn-buyitnow {
      float: left;
      width: 200px;
      height: 38px;
      margin-right: 20px;
      text-align: center;
      font: normal 16px/38px '\5fae\8f6f\96c5\9ed1';
      color: #fff;
      _display: inline;
      transition: all .3s ease-in;
    }

    .btn-addtocart {
      background-color: #cc2e5b;

      &:hover { background-color: #e63366; }
    }

    .btn-buyitnow {
      margin-right: 60px;
      background-color: #6a1559;

      &:hover { background-color: #80266e; }
    }

    .disabled, .disabled:hover { background-color: #ccc; cursor: not-allowed; }
  }
}
.ensure {
  margin: 20px 0;
  padding: 20px 0;
  border: 1px solid #e8e8e8;
  border-width: 1px 0;
  background-color: #fff;
  @include clear;

  .icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    @include icon($url: 'module/icon/ensure.png', $size: false);
    _display: inline;
  }

  .title { font: normal 16px '\5fae\8f6f\96c5\9ed1'; color: #6b155a; }
  .intro { font: normal 12px '\5fae\8f6f\96c5\9ed1'; color: #999; }

  .item {
    float: left;
    width: 224px;
    padding-left: 15px;
    border-left: 1px solid #ddd;
  }

  .brand {
    width: 240px;
    padding-left: 0;
    border-left: none;
  }
  .direct .icon { background-position: 0 -40px; }
  .sync .icon { background-position: 0 -80px; }
  .return .icon { background-position: 0 -120px; }
  .tax .icon { background-position: 0 -160px; }
}
.col-main {
  float: right;
  width: 990px;

  .tab-nav-wrapper { height: 44px; }

  .tab-nav {
    position: relative;
    border-top: 2px solid #666;
    background-color: #f7f7f7;
    @include clear;

    .item {
      float: left;
      width: 160px;
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      color: #333;
      text-align: center;
    }

    .active { font-weight: 700; background-color: #fff; }
  }

  .tab-nav-fixed {
    position: fixed;
    top: 0;
    width: 990px;
  }

  .product-code {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #999;
  }

  .mod {
    margin-top: 30px;

    .hd {
      height: 26px;
      line-height: 99px;
      font-size: 0;
      overflow: hidden;
      @include bg($url: 'product/mod-title.png');
    }

    .bd {
      margin-top: 2px;
      padding: 25px 0;
      border-top: 1px solid #ccc;
    }
  }

  .mod-merchant {
    @include clear;

    .logo {
      float: left;
      width: 180px;
      height: 70px;
      line-height: 70px;
      margin-right: 20px;
      text-align: center;
      border: 1px solid #ddd;

      img { display: inline-block; vertical-align: middle; }
    }

    .intro {
      font: normal 14px/24px '\5fae\8f6f\96c5\9ed1';
      color: #666;
    }
  }

  .mod-content {
    .hd { background-position: 3px -26px; }

    .bd img {
      display: block;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  .mod-advantages .hd { background-position: 3px -52px; }

  .mod-faq {
    .hd { height: 28px; background-position: 3px -78px; }

    .q { font: normal 18px/36px '\5fae\8f6f\96c5\9ed1'; color: #6b155a; }
    .num { margin-right: 5px; font-family: Impact; }

    .a {
      margin-bottom: 15px;
      font: normal 14px/30px '\5fae\8f6f\96c5\9ed1';
      color: #666;
    }
  }

  .review { color: #cc2e5b; }
}
.buynow-dialog {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 530px;
  height: 180px;
  padding: 40px;
  font-size: 14px;
  color: #333;

  .icon-error-28 { vertical-align: -8px; margin-right: 7px; }
  .message { padding: 10px 0 0 36px; line-height: 22px; }
  .price-limit, .price-more { color: #cc2e5b; }
  .ui-tip { color: #666; }
  .action { padding: 30px 0 0 120px; }

  .btn-primary {
    width: 112px;
    height: 30px;
    line-height: 30px;
    background-color: #cc2e5b;
    border-color: #cc2e5b;
    font-size: 14px;
    color: #fff;

    &:hover { background-color: #e63366; }
  }

  .go-shopping {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #ccc;
    vertical-align: middle; color: #666;
  }

}
.addtocart-dialog {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 40px;
  padding: 10px;
  border: 3px solid #ccc;
  font-size: 16px;

  .icon {
    float: left;
    vertical-align: -14px;
    margin-right: 10px;
  }

  .message { height: 28px; line-height: 28px; }
}