@charset "UTF-8";
// @Copyright 2014 Taohai, Inc.
// @update $Id: pk.scss 5832 2014-09-13 09:46:24Z samgui $
@import "../global/_core";
@import "../module/slider";

body { background-color: #fefcf9; }
.banner { transition: all .8s linear; }
.ui-slider { width: 100%; margin: 0; }
.ui-slider-prev { left: -55px; }
.ui-slider-next { right: -55px; }

.banner {
  .ui-slider {
    width: 1200px;
    height: 500px;
    overflow: hidden;
  }

  .ui-slider-trigger {
    height: 18px;

    .item {
      width: 18px;
      height: 18px;
      margin: 0 5px;
      background-color: #b8b8b8;
      border-radius: 22px;
    }

    .current { background-color: #6b155a; }
  }

  .ui-slider-prev,
  .ui-slider-next {
    top: 212px;
    width: 40px;
    height: 80px;
  }

  .icon-prev, .icon-next { margin: 23px 0 0 11px; }
}

.history {
  position: relative;

  &, a { font-size: 14px; }

  .arrow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 108px;
    height: 35px;
    margin: 18px 0 0 -54px;
    @include bg($url: 'act/pk/arrow.png');
    z-index: 2;
  }

  .list-wrapper {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  }

  .mod-list { width: 1205px; @include clear; }

  .list-item {
    position: relative;
    float: left;
    width: 50%;
    height: 255px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;

    &:hover {
      .meta, .btn-buy {
        text-decoration: underline;
      }
    }
  }

  .list-item-last { border-right-color: #fff; }

  .list-item-inner {
    height: 200px;
    width: 490px;
    margin: 30px 0 30px 50px;
    padding-right: 59px;
    border-right: 1px dashed #ccc;
  }

  .page-header {
    position: relative;
    margin: 60px 0 35px;
    background-color: #ccc;
    height: 1px;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    margin: -14px 0 0 -70px;
    text-align: center;
    font: bold 24px/26px '\5fae\8f6f\96c5\9ed1';
    color: #999;
    background-color: #fefcf9;
  }

  .pic {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    overflow: hidden;
    @include bg_loading;

    img {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .name, .meta {
    display: block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover { color: #cc2e5b; }
  }

  .meta {
    height: 22px;
    color: #333;
    font: bold 16px/28px '\5fae\8f6f\96c5\9ed1';
  }

  .name {
    display: block;
    height: 40px;
    font-size: 14px;
    color: #666;
  }

  .price { display: inline-block; vertical-align: top; }
  .unit { margin-right: 5px; }

  .price {
    width: 152px;
    color: #cd2d5b;
    font: bold 34px '\5fae\8f6f\96c5\9ed1';

    .unit { font-weight: 400; font-size: 24px; }
  }

  .price-other {
    color: #ccc;

    &, del { font: bold 34px '\5fae\8f6f\96c5\9ed1'; }
    .unit { font-weight: 400; font-size: 24px; }
  }

  .vs, .merchant1, .merchant2 {
    display: inline-block;
    width: 89px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    font: bold 14px/24px '\5fae\8f6f\96c5\9ed1';
    color: #fff;
  }

  .merchant1 { background-color: #cd2d5b; }

  .vs {
    width: 63px;
    color: #cd2d5b;
    font: normal 20px/24px '\5fae\8f6f\96c5\9ed1';
  }

  .merchant2 { background-color: #bfbfbf; }

  .btn-buy {
    display: block;
    padding: 30px 0;
    font: bold 16px/18px '\5fae\8f6f\96c5\9ed1';
    color: #fb7529;
  }
}
